<div class="home-container">
    <div class="image-section">
        <img src="assets/home1.webp" alt="Hospital Image" class="home-image" />
      </div>
    <div class="welcome-section">
      <h1>Welcome to TDRC Hospital</h1>
      <p>Your health matters. Book your appointment easily and quickly.</p>
    </div>
  
    <div class="cta-section">
      <button routerLink="/user/login" class="cta-btn">Login</button>
      <button routerLink="/user/register" class="cta-btn">Register</button>
      <button routerLink="/user/login" class="cta-btn">Book Appointment</button>
    </div>
  </div>
  