<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <h2>Login</h2>
  
      <!-- User Type Selection -->
      <div class="form-group">
        <label for="userType">Login as</label>
        <select id="userType" formControlName="userType" class="form-control">
          <option value="user">User</option>
          <option value="doctor">Doctor</option>
        </select>
      </div>
  
      <!-- Username Field -->
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          placeholder="Enter your username"
          class="form-control"
        />
        <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" class="error">
          Username is required (Username must be at least 5 characters).
        </div>
      </div>
  
      <!-- Password Field -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Enter your password"
          class="form-control"
        />
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error">
          Password is required.
        </div>
      </div>
  
      <button type="submit" class="btn" [disabled]="loginForm.invalid">Login</button>
      <p class="dont">Don't have an account? <a class="btn" routerLink="/user/register">Register here</a></p>
    </form>
    
  </div>
  